<% if resource.errors.any? %>
  <div id="error_explanation text-xs" data-turbo-cache="false">
    <!-- 
    <h2>
      <%= I18n.t("errors.messages.not_saved",
                 count: resource.errors.count,
                 resource: resource.class.model_name.human.downcase)
       %>
    </h2>
    -->
    <div class="flex flex-col gap-1">
      <% resource.errors.full_messages.each do |message| %>
        <small><%= message %></small>
      <% end %>
    </div>
  </div>
<% end %>
