<% content_for :header do %>
  <%= time_of_day_greeting %>, Admin
<% end %>

<% if @pending_approvals.any? %>
  
  <%= render partial: 'pending_approvals', locals: { pending_approvals: @pending_approvals } %>
<% else %>
  <p>No pending approvals</p>
<% end %>

<% if @traders.any? %>
  <h1 class="font-bold font-sans tracking-widest">Approved Traders</h1>
  <%= render partial: 'approved_traders', locals: { traders: @traders } %>
<% end %>