<div class="h-full flex items-center gap-2">
  <%= image_tag("stocker.png", alt: "stocker_logo", class: "bg-emerald-100 rounded-full h-7 w-fit ring-2 ring-inset ring-emerald-300 hidden sm:inline-flex") %>

  <h1 class="logo__name text-xl font-sans">
    stocker
  </h1>
</div>