<div class="h-full flex items-center gap-2">
  <%= image_tag("stocker.png", alt: "stocker_logo", class: "bg-emerald-100 rounded-full h-full w-fit ring-2 ring-inset ring-emerald-300") %>

  <h1 class="logo__name text-xl">
    stocker
  </h1>
</div>