<section class="w-ful h-full flex flex-col justify-center items-center gap-10">
  <!-- 
  <div class="w-[160px] aspect-1 border rounded-full mb-4 grid place-items-center">logo here</div>
  -->

  <h1 class="text-7xl font-light flex flex-col justify-center items-center gap-1 tracking-wider">
    Trade with
    <p class="font-bold italic">
      certainty
    </p>
  </h1>

  <span>Smart. Simple. Seamless.</span>

  <button class="border-white border-2 rounded-3xl px-6 py-2 tracking-wider mt-4">
    <small>Start today</small>
  </button>
</section>
