<!--
<h1>Pending approval</h1>

<h3>We're evaluating your account.</h3>
<p>Kindly wait for the confirmation email regarding the status of your account.</p>
-->


<h1>Verify Your Email</h1>
<p>Check your email and click the link to activate your account.</p>