<!--
<h1>Pending approval</h1>

<h3>We're evaluating your account.</h3>
<p>Kindly wait for the confirmation email regarding the status of your account.</p>
-->
<section class="fixed top-0 left-0 h-full w-full bg-emerald-100 flex flex-col justify-center items-center gap-2 px-4 py-10 text-emerald-950 tracking-wider">
  <%= render 'shared/stocker_logo_no_ring' %>

  <div class="flex flex-col justify-center items-center gap-3 p-6">

    <%= image_tag("Waiting.png", alt: "google_logo", class: "w-1/4 h-auto drop-shadow-xl") %>
    <h1 class="font-bold text-3xl p-2">Verify Your Email</h1>
    <p>Check your email and click the link to activate your account.</p>

    <%= link_to root_path, class: "button--gray grid place-items-center mt-6" do %>
      <small>Back</small>
    <% end %>

  </div>
  
  
</section>
