@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import 'application.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Trebuchet MS", sans-serif;
    @apply tracking-wider max-w-screen-2xl overflow-hidden;
  }  
}

@layer components {
  .border {
    @apply border-2 border-dotted border-red-500;
  }

  .logo__name {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-amber-400 to-emerald-600 tracking-wider font-bold italic [text-shadow:_0_1px_0_rgb(0_0_0_/_20%)];
  }

  .bg--landing {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 51% 57%, hsla(255,75%,56%,0.42) 0px, transparent 50%),
    radial-gradient(at 51% 0%, hsla(165,85%,48%,0.6) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .bg--main {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 100% 98%, hsla(255,75%,56%,0.55) 0px, transparent 50%),
    radial-gradient(at 0% 98%, hsla(165,85%,48%,0.49) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .bg--secondary {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 0% 0%, hsla(255,75%,56%,0.55) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(165,85%,48%,0.6) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .bg--frosted {
    @apply backdrop-blur-md bg-emerald-50/15 border-gray-500 border-2 rounded-lg drop-shadow-xl;
  }

  .button--main {
    @apply grid place-items-center border-white border-2 rounded-3xl px-6 py-2 tracking-wider min-w-32 font-bold uppercase focus:ring-2 focus:ring-accent focus:border-secondary;
  }

  .button--secondary {
    @apply py-2 px-3 ms-3 font-semibold focus:outline-none rounded-lg border focus:z-10 focus:ring-4 focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 tracking-wider text-xs font-sans;
  }

  .button--gray {
    @apply grid place-items-center border-gray-600 border-2 rounded-3xl px-6 py-2 tracking-wider min-w-32 font-bold uppercase focus:ring-2 focus:ring-accent focus:border-secondary;
  }

  .form__wrapper {
    @apply flex flex-col gap-4 p-4;
  }

  .field {
    @apply flex flex-col gap-1 text-sm;
  }

  .field input {
    @apply border-2 border-gray-400 rounded-xl bg-transparent focus:border-secondary focus:outline-none focus:ring-accent;
  }

  .field input[type="checkbox"] {
    @apply border-2 border-gray-400 rounded-sm w-4 h-4;
  }

  .field label {
    @apply font-sans;
  }

  .actions {
    @apply button--main mt-6 cursor-pointer;
  }

  .modal__label {
    @apply block mb-2 text-sm font-medium font-sans text-gray-900 dark:text-white;
  }

  .modal__textfield {
    @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-violet-500 focus:border-violet-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white;
  }

  .modal__button {
    @apply w-full text-white font-sans bg-teal-700 hover:bg-teal-800 focus:ring-4 focus:outline-none focus:ring-teal-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-teal-600 dark:hover:bg-teal-700 dark:focus:ring-teal-800 mt-6;
  }

  .shared_links {
    @apply text-xs font-sans hover:underline hover:underline-offset-2 focus:font-semibold hover:font-semibold;
  }

  .overflow {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 0.25rem;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgba(156, 163, 175, 0.25);
      border-radius: 0.25rem;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(156, 163, 175);
    }
  }
}


