@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Raleway", sans-serif;
  }
}

@layer components {
  .border {
    @apply border-2 border-dotted border-red-500;
  }

  .bg--landing {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 51% 57%, hsla(255,75%,56%,0.42) 0px, transparent 50%),
    radial-gradient(at 51% 0%, hsla(165,85%,48%,0.6) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }
}


