@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body {
    font-family: "Trebuchet MS", sans-serif;

    @apply tracking-wider max-w-screen-2xl;
  }
}

@layer components {
  .border {
    @apply border-2 border-dotted border-red-500;
  }

  .logo__name {
    @apply text-transparent bg-clip-text bg-gradient-to-r from-amber-400 to-emerald-600 tracking-wider font-bold italic [text-shadow:_0_1px_0_rgb(0_0_0_/_20%)];
  }

  .bg--landing {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 51% 57%, hsla(255,75%,56%,0.42) 0px, transparent 50%),
    radial-gradient(at 51% 0%, hsla(165,85%,48%,0.6) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .bg--login {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 8% 100%, hsla(255,75%,56%,0.55) 0px, transparent 50%),
    radial-gradient(at 100% 100%, hsla(165,85%,48%,0.6) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .bg--main {
    background-color:hsla(0,0%,0%,1);
    background-image:
    radial-gradient(at 100% 98%, hsla(255,75%,56%,0.55) 0px, transparent 50%),
    radial-gradient(at 0% 98%, hsla(165,85%,48%,0.49) 0px, transparent 50%);

    @apply w-full h-dvh text-emerald-50;
  }

  .button--main {
    @apply grid place-items-center border-white border-2 rounded-3xl px-6 py-2 tracking-wider min-w-32 font-bold uppercase focus:ring-2 focus:ring-accent focus:border-secondary;
  }

  .button--secondary {
    @apply py-2 px-3 ms-3 font-semibold focus:outline-none rounded-lg border focus:z-10 focus:ring-4  focus:ring-gray-700 bg-gray-800 text-gray-400 border-gray-600 hover:text-white hover:bg-gray-700 tracking-wider text-xs font-sans;
  }

  .button--gray {
    @apply grid place-items-center border-gray-600 border-2 rounded-3xl px-6 py-2 tracking-wider min-w-32 font-bold uppercase focus:ring-2 focus:ring-accent focus:border-secondary;
  }

  .overflow {
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.25rem;
      height: 0.25rem;
    }
    
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 0.25rem;
    }
    
    &::-webkit-scrollbar-thumb {
      background: rgba(156, 163, 175, 0.25);
      border-radius: 0.25rem;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: rgb(156, 163, 175);
    }
  }
}


