<div class="border-2 border-gray-600 w-full h-full rounded-2xl flex justify-between p-4">

  <div class="h-full flex flex-col justify-between gap-1">
    <h2 class="font-bold font-sans tracking-widest">Estimated Balance</h2>
    <h1 class="text-3xl flex items-end gap-2">
      <%= format_currency(current_user.balance) %>
      <small class="text-sm p-1 font-sans">USD</small>
    </h1>

    <small class="border">
      *** another line
    </small>

    <small class="border">
      *** another line (optional)
    </small>    
  </div>

  <div class="h-full flex flex-col justify-between gap-2">
    <div class="flex">
      <!-- 
      <button class="button--secondary">
        Deposit
      </button>
      -->
      <button class="button--secondary">
        Withdraw
      </button>
  
    <%= link_to "Cash-in", trader_cash_in_path, class:"button--secondary" %> 

    </div>

    <div class="border h-full">
      Chart here
    </div>
  </div>
  
</div>