<% content_for :header do %>
  Hello, <%= time_of_day_greeting.downcase %>
<% end %>

<div class="w-full h-full p-2 flex flex-col gap-2"> 
  <div class="w-full h-[20%]">
    <%= render 'profile_box' %>
  </div>

  <% if @trader_status != "approved" %>
    Pending approval access.

  <!-- *** STATUS_TYPE: APPROVED *** -->
  <% else %>  
    <div class="w-full h-[30%]">
      <%= render 'balance_box' %>
    </div>

    <div class="w-full h-[50%]">
      <%= render 'portfolio_box' %>
    </div>    
  <% end %>
  
</div>


